DATABASE_URL="mysql://user:senha@127.0.0.1:3306/db_blue_media?allowPublicKeyRetrieval=true"
DATABASE_USER="user"
DATABASE_PASSWORD="senha"
DATABASE_NAME="db_blue_media"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
JWT_SECRET="your-secret-key"
ENVIRONMENT="development"
PORT=3003